Условия победы в игре:
    - Репродуктивная пара - здоровые и не старые. (и не чайлдфри/гомо?)
    - Охрана/безопасность на воле (от животных (нужно ли?) и от других людей)
    - пропитание (охотник (есть ли от него смысл?) или садовод)
    - обеспечение места жизни
    - Обеспечение здоровья (врач/челик с курсов по выживанию или врачеванию)
    - Никто из важных ролей не должен умереть в ходе проживания в убежище (фобии/болезни)


(!) Способности человека, входящего в репродуктивную пару должны быть занулены или занижены (беременный хирург не хирург - пусть идет  декрет)